body {
  margin: 0;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-weight: 800;
  background-color: purple;
  color: #fff;
}

.sectionContainer {
  color: red;
}